# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*

# env
.env
.env.production

# IDE
.vscode/

# macOS
.DS_Store

# Keystatic local
keystatic-local.db

# Astro generated
.astro/
